.Home {
  background-color: aquamarine;
  display: flex;
  height: 300px;
  margin: 20px;
}
.left-sidrbar {
  flex: 1;
  background-color: greenyellow;
}
.right-sidrbar {
  flex: 1;
  background-color: blueviolet;
  height: 300px;
  height: 300px;
}
